###  Définir le Projet

    Objectif : Développer un modèle de machine learning capable de détecter les fake news à partir de textes d'articles.
    Livrables : Rapport final, code source, modèle entraîné, et éventuellement une interface utilisateur pour tester le modèle.

### Download data

lien vers la dataset : https://github.com/KaiDMML/FakeNewsNet/

In [1]:
import pandas as pd

In [2]:
data_real= pd.read_csv(r"C:\Users\Adminetu\Downloads\politifact_real.csv")

In [4]:
data_real.head(5)

,id,news_url,title,tweet_ids
0,politifact14984,http://www.nfib-sbet.org/,National Federation of Independent Business,967132259869487105\t967164368768196609\t967215...
1,politifact12944,http://www.cq.com/doc/newsmakertranscripts-494...,comments in Fayetteville NC,942953459\t8980098198\t16253717352\t1668513250...
2,politifact333,https://web.archive.org/web/20080204072132/htt...,"Romney makes pitch, hoping to close deal : Ele...",NaN
3,politifact4358,https://web.archive.org/web/20110811143753/htt...,Democratic Leaders Say House Democrats Are Uni...,NaN
4,politifact779,https://web.archive.org/web/20070820164107/htt...,"Budget of the United States Government, FY 2008",89804710374154240\t91270460595109888\t96039619...

In [5]:
data_real.columns

Index(['id', 'news_url', 'title', 'tweet_ids'], dtype='object')

In [6]:
data_fake = pd.read_csv(r"C:\Users\Adminetu\Downloads\politifact_fake.csv")

In [7]:
data_fake.head(5)

,id,news_url,title,tweet_ids
0,politifact15014,speedtalk.com/forum/viewtopic.php?t=51650,BREAKING: First NFL Team Declares Bankruptcy O...,937349434668498944\t937379378006282240\t937380...
1,politifact15156,politics2020.info/index.php/2018/03/13/court-o...,Court Orders Obama To Pay $400 Million In Rest...,972666281441878016\t972678396575559680\t972827...
2,politifact14745,www.nscdscamps.org/blog/category/parenting/467...,UPDATE: Second Roy Moore Accuser Works For Mic...,929405740732870656\t929439450400264192\t929439...
3,politifact14355,https://howafrica.com/oscar-pistorius-attempts...,Oscar Pistorius Attempts To Commit Suicide,886941526458347521\t887011300278194176\t887023...
4,politifact15371,http://washingtonsources.org/trump-votes-for-d...,Trump Votes For Death Penalty For Being Gay,915205698212040704\t915242076681506816\t915249...

In [8]:
data_fake['label'] = 1
data_real['label'] = 0

In [9]:
data_fake.head(3)

,id,news_url,title,tweet_ids,label
0,politifact15014,speedtalk.com/forum/viewtopic.php?t=51650,BREAKING: First NFL Team Declares Bankruptcy O...,937349434668498944\t937379378006282240\t937380...,1
1,politifact15156,politics2020.info/index.php/2018/03/13/court-o...,Court Orders Obama To Pay $400 Million In Rest...,972666281441878016\t972678396575559680\t972827...,1
2,politifact14745,www.nscdscamps.org/blog/category/parenting/467...,UPDATE: Second Roy Moore Accuser Works For Mic...,929405740732870656\t929439450400264192\t929439...,1

In [12]:
combined_data= pd.concat([data_fake, data_real])

In [13]:
#mélanger les lignes des datasets
combined_data= combined_data.sample(frac=1, random_state=42).reset_index(drop=True)

In [14]:
combined_data.head(5)

,id,news_url,title,tweet_ids,label
0,politifact14885,www.breakingnews247.net/59bc13819a723/world-s-...,World's most popular candy to be removed from ...,908193166632812545\t908318679821160450\t908327...,1
1,politifact1106,http://frwebgate.access.gpo.gov/cgi-bin/getdoc...,Browse Congressional Bills,2761266599\t3283658037\t3439787429\t5180526172...,0
2,politifact1678,http://abcnews.go.com/ThisWeek/video/supreme-c...,Supreme Court Vacancy Video,NaN,0
3,politifact370,http://tonto.eia.doe.gov/dnav/pet/pet_move_wkl...,U.S. Imports & Exports,735229171086065664\t735591660080488449\t736678...,0
4,politifact15263,http://sciencevibe.com/2018/04/11/dying-78-yea...,Dying 78 Year Old CIA Agent Admits To Killing ...,588772842071666688\t588795790774140929\t588796...,1

### supprimer les colonnes qui ne vont pas servir dans la suite

In [ ]:
#droped_columns = [col for col in combined_data.columns if col not in ['title', 'label']]

In [17]:
droped_columns = ['id','news_url','tweet_ids']

In [19]:
combined_data = combined_data.drop(columns=droped_columns)

In [20]:
combined_data.head(5)

                                               title  label
0  World's most popular candy to be removed from ...      1
1                         Browse Congressional Bills      0
2                        Supreme Court Vacancy Video      0
3                             U.S. Imports & Exports      0
4  Dying 78 Year Old CIA Agent Admits To Killing ...      1